$background: #10182f;
$text: #a2aed2;

.body {
  width: 100vw;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text;
}

// @media (max-width: 1440px) {
//   .middle {
//     padding: 0 300px;
//   }
// }

// @media (max-width: 1280px) {
//   .middle {
//     padding: 0 240px;
//   }
// }

// @media (max-width: 1024px) {
//   .middle {
//     padding: 0 200px;
//   }
// }

// @media (max-width: 768px) {
//   .middle {
//     padding: 0 100px;
//   }
// }

.first-footer-container {
  min-height: 250px;
  width: 95%;
  background-color: $background;
  color: $text;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;

  .top {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
  }

  .middle {
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 20px;
    color: $text;

    @media (max-width: 900px) {
      width: 60%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  .bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 20px 70px;

    @media (max-width: 900px) {
      padding: 20px 30px;
    }

    @media (max-width: 500px) {
      padding: 20px 20px;
    }

    .bottom-left {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;

      p {
        cursor: pointer;
      }

      svg {
        margin: 0 0 3px 10px;
        transform: rotate(90deg);
        cursor: pointer;
      }
    }

    .bottom-middle {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 20px;
    }

    .bottom-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      text-align: left;
    }
  }
}

.second-footer-container {
  width: 95%;
  background-color: $background;
  color: $text;
  padding: 30px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @media (max-width: 830px) {
    padding: 30px 35px 0px 35px;
  }

  @media (max-width: 600px) {
    padding: 30px 20px 0px 20px;
  }

  hr {
    width: 100%;
    border-color: $text;
  }

  .section-1 {
    height: 60px;
    display: flex;
    align-items: center;

    p {
      font-size: 26px;
      font-weight: 600;
    }
  }

  .section-2 {
    width: 100%;
    // height: 370px;
    padding: 30px 0 15px 0;
    display: flex;

    @media (max-width: 760px) {
      flex-direction: column;
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    a {
      margin-bottom: 15px;
    }

    .section-2-left {
      width: 40%;
      display: flex;

      @media (max-width: 760px) {
        width: 100%;
      }

      .column-1 {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .column-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .section-2-right {
      width: 60%;
      display: flex;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 30px;
      }

      .column-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .column-4 {
        flex: 1.3;
        display: flex;
        flex-direction: column;

        @media (max-width: 830px) {
          flex: 1;
        }

        a {
          margin-left: 50px;

          @media (max-width: 830px) {
            margin-left: 20px;
          }

          @media (max-width: 760px) {
            margin-left: 0;
          }
        }

        p {
          width: 70%;
          text-align: left;
          margin-left: 50px;

          @media (max-width: 830px) {
            margin-left: 20px;
            width: 90%;
          }

          @media (max-width: 760px) {
            margin-left: 0;
          }
        }

        .social-icons {
          width: 50%;
          height: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 450px) {
            margin-left: 0;
            width: 80%;
          }
        }
      }
    }
  }

  .section-3 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

    @media (max-width: 840px) {
      height: 150px;
    }

    .col-2 {
      width: 40%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1000px) {
        width: 50%;
      }

      @media (max-width: 840px) {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 30px;
      }

      @media (max-width: 500px) {
        margin-left: -10px;
      }
    }

    .col-3 {
      display: flex;
      align-items: flex-end;
      cursor: pointer;

      svg {
        margin: 0 0 3px 10px;
        transform: rotate(90deg);
      }
    }
  }
}
