$background: #10182f;
$text: #a2aed2;

.body {
  min-height: 100vh;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: $text;
}

// @media (max-width: 1440px) {
//   .middle {
//     padding: 0 300px;
//   }
// }

// @media (max-width: 1280px) {
//   .middle {
//     padding: 0 240px;
//   }
// }

// @media (max-width: 1024px) {
//   .middle {
//     padding: 0 200px;
//   }
// }

// @media (max-width: 768px) {
//   .middle {
//     padding: 0 100px;
//   }
// }

@media (max-width: 540px) {
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    background-color: beige;
  }

  .bottom-middle {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
}

.first-footer-container {
  min-height: 250px;
  width: 95%;
  background-color: $background;
  color: $text;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  .top {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
  }

  .middle {
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 20px;
    color: $text;
  }

  .bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 20px 70px;

    p {
      margin-top: 5px;
    }

    .bottom-left {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .bottom-middle {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 20px;
    }

    .bottom-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.second-footer-container {
  width: 95%;
  height: 540px;
  background-color: $background;
  color: $text;
  padding: 30px 50px 0px 50px;
  display: flex;
  flex-direction: column;

  hr {
    width: 100%;
    border-color: $text;
  }

  .section-1 {
    height: 60px;
    display: flex;
    align-items: center;

    p {
      font-size: 26px;
      font-weight: 600;
    }
  }

  .section-2 {
    width: 100%;
    height: 370px;
    padding-top: 30px;
    display: flex;

    .title {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    a {
      margin-bottom: 15px;
    }

    .column-1 {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .column-2 {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .column-3 {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .column-4 {
      flex: 1.3;
      display: flex;
      flex-direction: column;
      // background-color: red;

      a {
        margin-left: 50px;
      }

      p {
        width: 70%;
        text-align: left;
        margin-left: 50px;
      }

      .social-icons {
        margin-left: 50px;
        width: 50%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .section-3 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

    .middle {
      width: 40%;
      display: flex;
      justify-content: space-between;
      margin-left: -100px;
    }

    .right {
      display: flex;
      align-items: flex-end;

      svg {
        margin: 0 0 3px 10px;
        transform: rotate(90deg);
      }
    }
  }
}
